body {
  background-image: url(./imas/fondo.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin-top: 2%;
  background-color: rgba(255, 255, 255, 0.69);
  border-radius: 2ch;
  padding: 25px;
}

.container2 {
  background-color: #259dc9a0;
}


.chart-container1 {
  width: 50%;
  margin-left: 25%;
  margin-right: 0% !important;
}

.chart-container2 {
  margin-right: 10%;
}

textarea {
  resize: none;
}
